[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sergikx
[access "refs/for/refs/*"]
	read = group user/Sergikx
	push = group user/Sergikx
	label-Code-Review = -2..+2 group user/Sergikx
	label-Verified = -1..+1 group user/Sergikx
	rebase = group user/Sergikx
	removeReviewer = group user/Sergikx
	submit = group user/Sergikx
[access "refs/heads/*"]
	read = group user/Sergikx
	create = group user/Sergikx
	push = +force group user/Sergikx
	pushMerge = group user/Sergikx
[access "refs/tags/*"]
	push = +force group user/Sergikx
	pushTag = group user/Sergikx
	pushSignedTag = group user/Sergikx
